<h2 class="page-header">Forgot Password</h2>
<h3 class="page-header">Enter your registered email</h3>
<form method="post" action="/users/forgotPassword">
	<div class="form-group">
		<label>Email</label>
		<input type="email" class="form-control" name="email" placeholder="email">
	</div>
	
	<button type="submit" class="btn btn-default">Submit</button>
</form>
