{{#if errors}}
	{{#each errors}}
		<div class="alert alert-danger">{{msg}}</div>
	{{/each}}
{{/if}}
<form method="post" action="/">
  Course Name: <input type="text" name="cname">
  <input type="submit" value="Submit">
</form> 