
<h2 class="page-header">Reset Password</h2>
<form method="post" action="#">
	
	<div class="form-group">
		<label>New Password</label>
		<input type="Password" class="form-control" name="password" placeholder="Password">
	</div>
    <div class="form-group">
		<label>Confirm Password</label>
		<input type="Password" class="form-control" name="password2" placeholder="Password">
	</div>
	<button type="submit" class="btn btn-default">Submit</button>
	
</form>
